/* Dropdown */
.caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-top: 4px solid \9; border-right: 4px solid transparent; border-left: 4px solid transparent;
}
.m-dropup,
.m-dropdown { position: relative;
}
.m-dropdown-toggle:focus { outline: 0;
}
.m-dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; list-style: none; font-size: 14px; text-align: left; background-color: #ffffff; border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-background-clip: padding-box;         background-clip: padding-box;
}
.m-dropdown-menu.pull-right { right: 0; left: auto;
}
.m-dropdown-menu .divider { height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;
}
.m-dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: #333333; white-space: nowrap;
}
.m-dropdown-menu > li > a:hover,
.m-dropdown-menu > li > a:focus { text-decoration: none; color: #262626; background-color: #f5f5f5;
}
.m-dropdown-menu > .active > a,
.m-dropdown-menu > .active > a:hover,
.m-dropdown-menu > .active > a:focus { color: #ffffff; text-decoration: none; outline: 0; background-color: #337ab7;
}
.m-dropdown-menu > .disabled > a,
.m-dropdown-menu > .disabled > a:hover,
.m-dropdown-menu > .disabled > a:focus { color: #777777;
}
.m-dropdown-menu > .disabled > a:hover,
.m-dropdown-menu > .disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); cursor: not-allowed;
}
.open > .m-dropdown-menu { display: block;
}
.open > a { outline: 0;
}
.m-dropdown-menu-right { left: auto; right: 0;
}
.m-dropdown-menu-left { left: 0; right: auto;
}